<app-navbar ></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper pl-2">
<!-- Contenedor feneral de la página -->
    <div class="my-2 ml-2 titulo text-center">
        <!--menu -->
        <h5>
            Recepción de Solicitudes
        </h5>
    </div>
    <!-- lineas de edición y bpusqueda -->
    <div class="card border-primary" style="padding: 5px;">
        <form novalidate [formGroup]='FormRecepcionSolicitud' autocomplete="off" spellcheck="false">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="numsolicitud"># Solicitud *</label>
                    <input type="number" class="form-control form-control-sm" formControlName="numsolicitud">
                </div>
                <div class="form-group col-md-2">
                    <label for="estadosolicitudde">Estado Solicitud *</label>
                    <input type="text" class="form-control form-control-sm" formControlName="estadosolicitudde">
                </div>
                <div class="form-group col-md-3">
                    <label for="prioridad">Prioridad *</label>
                    <input type="text" class="form-control form-control-sm" formControlName="prioridad">
                </div>
                <div class="form-group col-md-2">
                    <label for="fechamostrar">Fecha *</label>
                    <input type="text" appSelecttext placeholder="DD/MM/YYYY" [bsConfig]="bsConfig" bsDatepicker id="fecha"
                        class='form-control form-control-sm' formControlName="fechamostrar">
                </div>
                <div class="form-group col-md-3 align-self-end text-right">
                    <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                        (click)="BuscarSolicitudes()">Buscar Solicitud <i class="fas fa-search ml-1"></i>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="bodegaorigen">Bodega Solicitante *</label>
                    <input type="text" class="form-control form-control-sm" formControlName="bodorigen">
                </div>
                <div class="form-group col-md-4">
                    <label for="codigobodega">Bodega de Despacho *</label>
                    <input type="text" class="form-control form-control-sm" formControlName="boddestino">
                </div>
                <div class="form-group col-md-4 align-self-end text-right">
                    <button type="button" id="btnevento" class="btn btn-primary btn-sm 
                            button-my-styles-busqueda_01" [disabled]="!activabtnevento" (click)="eventosSolicitud()">Eventos
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="card border-primary mt-0" style="padding: 5px;height: 990px;">
        <tabset>
            <tab heading="Detalle Solicitud" id="tab1">
                <div class="table-responsive mt-3" style="height: 880px;">
                    <table class="table table-sm  table-primary table-bordered">
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción Artículo</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Solicitada</th>
                            <th class="text-center">Despachada</th>
                            <th class="text-center">Pendiente x Despachar</th>
                            <th class="text-center">Recepcionada</th>
                            <th class="text-center">Devuelta</th>
                            <th class="text-center">Eventos</th>
                        </tr>
                        <tr 
                            *ngFor="let registro of listaDetalleSolicitudpaginacion; let id = index"[ngClass]="registro.backgroundcolor">
                            <td>
                                <small><span>{{registro.codmei}}</span></small>
                            </td>
                            <td class="text-nowrap help   " tooltip="{{registro.meindescri }}">
                                <small><span> {{registro.meindescri | slice:0:30 }}</span></small>
                            </td>
                            <td>
                                <small><span> {{registro.stockorigen}}</span></small>
                            </td>
                            <td>
                                <small><span>{{registro.cantsoli}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registro.cantdespachada}} </span></small>
                            </td>
                            <td>
                                <small><span> {{registro.cantsoli  - registro.cantdespachada}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registro.cantrecepcionado}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registro.cantdevolucion}} </span></small>
                            </td>                            
                            <td>
                                <small><span><button type="button" id="btnVerEventos" class="btn btn-info btn-rounded btn-sm ml-2"
                                        (click)="eventosDetalleSolicitud(registro)">Eventos
                                    </button></span>
                                </small>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row m-1">
                    <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8"
                        [totalItems]="listaDetalleSolicitud.length" [itemsPerPage]=20 [previousText]="'Anterior'"
                        [nextText]="'Siguiente'" [firstText]="'&laquo;'" [lastText]="'&raquo;'"
                        (pageChanged)="pageChanged($event)">
                    </pagination>
                </div>
            </tab>
            <tab heading="Detalle Recepción" id="tab2">
                <div class="mt-0">
                    <form novalidate [formGroup]='FormRecepcionDetalle' autocomplete="off" spellcheck="false">
                        <div class="form-row ">
                            <div class="form-group col-md-2">
                                <label for="codigoproducto">Código *</label>
                                <input type="text" class="form-control form-control-sm"
                                   formControlName="codigoproducto">
                            </div>
                          
                            <div class="form-group col-md-3 align-self-end">
                                <button type="button" class="btn btn-info btn-rounded  btn-sm button-my-styles-busqueda_03 "
                                    (click)="BuscaproductoaRecepcionar(FormRecepcionDetalle.value)">
                                    Agregar <i class="fas fa-plus ml-1"></i>
                                </button><!----addArticuloGrillaRecepcion-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive mt-1" style="height:815px;">
                    <table class="table table-sm  table-primary table-bordered">
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Solicitado</th>
                            <th class="text-center">Despachado</th>
                            <th class="text-center">Pendiente x Despachar</th>
                            <th class="text-center">Devuelta</th>
                            <th class="text-center">A Recepcionar*</th>
                            <th class="text-center">Lote</th>
                            <th class="text-center">Vencimiento</th>
                        </tr>
                        <tr class="table-success"
                            *ngFor="let registrodespacho of listaDetalleDespachopaginacion; let id = index">
                            <td>
                                <small><span>{{registrodespacho.codmei}}</span></small>
                            </td>
                            <td class="text-nowrap help" tooltip="{{registrodespacho.meindescri }}">
                                <small><span> {{registrodespacho.meindescri | slice:0:30 }}</span></small>
                            </td>
 
                            <td>
                                <small><span>{{registrodespacho.cantsoli}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registrodespacho.cantdespachada}} </span></small>
                            </td>
                            <td>
                                <small><span> {{registrodespacho.cantsoli  - registrodespacho.cantdespachada}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registrodespacho.cantdevolucion}} </span></small>
                            </td>
                            <td>
                                <small>
                                    <input type="number" class="form-control form-control-sm text-right" min="1" max="100"
                                    [(ngModel)]="registrodespacho.cantidadarecepcionar"  
                                    (input)="cambio_cantidad(id, 'cantidadarecepcionar',registrodespacho)"
                                    (blur)="validacantidadgrilla(id,registrodespacho)">
                                    <!-- <span>{{registrodespacho.cantidadarecepcionar}} </span> -->
                                </small>
                            </td>
                            <td>
                                <small><span>{{registrodespacho.lote}} </span></small>
                            </td>
                            <td>
                                <small><span>{{registrodespacho.fechavto | date: 'dd/MM/yyyy'}}</span></small>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row m-1">
                    <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8"
                        [totalItems]="listaDetalleDespacho.length" [itemsPerPage]=20 [previousText]="'Anterior'"
                        [nextText]="'Siguiente'" [firstText]="'&laquo;'" [lastText]="'&raquo;'"
                        (pageChanged)="pageChangedRecepcion($event)">
                    </pagination>
                </div>
            </tab>
        </tabset>
    </div>

    <!--  Botones de página -->
    <div class="form-row float-right mt-2">
        <!-- <div class="form-group mr-1 align-self-end" *ngIf="modelopermisos.btngrabareceptotalsolic">
            <button type="button" id="btnguardar" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                [disabled]="!numsolic"
                (click)="ConfirmarRecepcionCompleta()">RECEPCIÓN TOTAL
                <i class="fas fa-save ml-1"></i>
            </button>
        </div> -->
        <div class="form-group mr-1 align-self-end" *ngIf="modelopermisos.btngrabarecepsolic">
            <button type="button" id="btnguardar" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                [disabled]="!numsolic"
                (click)="ConfirmarRecepcion()">RECEPCIÓN
                <i class="fas fa-save ml-1"></i>
            </button>
        </div>
        <div class="form-group  align-self-end" *ngIf="modelopermisos.btnimprecepsolicbod" >
            <button type="button" id="btnguardar" [disabled]="!activabtnimprime"
                class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02" 
                (click)="onImprimir()">IMPRIMIR RECEPCIÓN  <i class="fas fa-file-pdf ml-1"></i>
            </button>
        </div>
        <div class="form-group mr-1 align-self-end">
            <button type="button" id="btnlimpiar" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                (click)="Limpiar()">LIMPIAR <i class="fas fa-eraser ml-1"></i>
            </button>
        </div>
        <div class="form-group  align-self-end">
            <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
            (click) = salir()>SALIR <i class="fas fa-window-close ml-1"></i>
            </button>
        </div>
    </div>
    <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
    <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
    <swal #alertSwalGrilla title="" text="" [showCancelButton]="true" (confirm)="onConfirm()" grow="row"
        (cancel)="onCancel()" showCloseButton="true">
        <table class="table table-hover mt-4" *swalPartial>
            <thead class="table-header-text">
                <tr>
                    <th>Solicitud</th>
                    <th>F.Recepción</th>
                    <th>F.Vencimiento</th>
                    <th>Lote</th>
                    <th>Cantidad Despachada</th>
                    <th>Cantidad Recepcionada </th>
                    <th>Cantidad Devuelta</th>
                </tr>
            </thead>
            <tbody class="table-body-text text-nowrap">
                <tr class="text-nowrap" *ngFor="let productorecepcionado of productosrecepcionadospaginacion">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input pointer"
                                (click)="onCheck($event, productorecepcionado)"
                                id="idmov-{{productorecepcionado.soliid}} {{productorecepcionado.mfdeid}}">
                            <label class="custom-control-label pointer"
                                for="idmov-{{productorecepcionado.soliid}} {{productorecepcionado.mfdeid}}">
                                {{ productorecepcionado.soliid }}
                             *</label>
                        </div>
                    </td>
                    <td>{{ productorecepcionado.fecharecepcion | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ productorecepcionado.fechavto | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ productorecepcionado.lote }}</td>
                    <td>{{ productorecepcionado.cantdespachada }}
                    <td>{{ productorecepcionado.cantrecepcionada }}</td>
                    <td>{{ productorecepcionado.cantdevuelta }}</td>
                </tr>
            </tbody>
            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="3"
                [totalItems]="productosrecepcionados.length" [itemsPerPage]=20 [previousText]="'Anterior'"
                [nextText]="'Siguiente'" [firstText]="'&laquo;'" [lastText]="'&raquo;'"
                (pageChanged)="pageChanged($event)">
            </pagination>
        </table>
    </swal>
</div>