<div class="card">
    <!--menu - productos -mantencion de articulos-->
    <div class="card-header">
        {{titulo}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">
        <tabset>
            <!-- Tab HOSPITALIZADO -->
            <tab heading="HOSPITALIZADO" id="tab2">
                <form novalidate [formGroup]='hForm' autocomplete="off" spellcheck="false">
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label for="nombrespaciente">Nombres </label>
                            <input type="text" class="form-control form-control-sm" formControlName="nombrespaciente"
                                (input)="onValidafiltro($event.target.value, 2)">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="apellidopaterno">Apellido Paterno </label>
                            <input type="text" class="form-control form-control-sm" formControlName="apellidopaterno"
                                (input)="onValidafiltro($event.target.value, 2)">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="apellidomaterno">Apellido Materno</label>
                            <input type="text" class="form-control form-control-sm" formControlName="apellidomaterno"
                                (input)="onValidafiltro($event.target.value, 2)">
                        </div>
                        <div class="form-group col-sm-3 align-self-end text-right">
                            <button [disabled]="!filtrohosp" type="button"
                                class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                                (click)="BuscarPaciente('hospitalizado')">BUSCAR<i class="fas fa-search ml-1"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label for="servicio">Servicio</label>
                            <select name="servicio" class='form-control form-control-sm' formControlName='servicio'
                                (change)="onSelectServicio($event.target.value)">
                                <option *ngFor='let servicio  of servicios' value='{{ servicio.serviciocod }}'>
                                    {{ servicio.serviciodesc }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="pieza">Pieza</label>
                            <select name="pieza" class='form-control form-control-sm' formControlName='pieza'
                                (change)="onSelectPieza($event.target.value)">
                                <option *ngFor='let pieza of piezas' value='{{ pieza.piezaid }}'>
                                    {{ pieza.piezadescripcion }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="cama">Cama</label>
                            <select name="cama" class='form-control form-control-sm' formControlName='cama'>
                                <option *ngFor='let cama of camas' value='{{ cama.camid }}'>
                                    {{ cama.camadescripcion }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3 align-self-end text-right">
                            <button type="button" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                                (click)="Limpiar()">Limpiar <i class="fas fa-eraser ml-1"></i>
                            </button>
                        </div>

                    </div>
                    <table class="table table-stripped table-condensed table-hovered">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Pieza</th>
                                <th>Cama</th>
                                <th>Medico Tratante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pacientes of listadopacientespaginacion" (click)="onCerrar(pacientes)"
                                style="cursor: pointer;">
                                <td>{{ pacientes.apepaternopac }} {{ pacientes.apematernopac }}
                                    {{ pacientes.nombrespac }}</td>
                                <td>{{ pacientes.pzagloza }}</td>
                                <td>{{ pacientes.camglosa }}</td>
                                <td>{{ pacientes.nombremedico }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8" [totalItems]="pacientes.length"
                                [itemsPerPage]=8 [previousText]="'Anterior'" [nextText]="'Siguiente'" [firstText]="'&laquo;'"
                                [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
                            </pagination>
                        </div>
                    </div>
                </form>
            </tab>

            <!-- Tab URGENCIA -->
            <tab heading="URGENCIA" id="tab3">
                <form novalidate [formGroup]='uForm' autocomplete="off" spellcheck="false">
                    <table class="table table-stripped table-condensed table-hovered">
                        <thead>
                            <tr>
                                <th>Rut Paciente</th>
                                <th>Paciente</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr *ngFor="let paciente of pacientes_urgencia_paginacion" (click)="onCerrar(paciente)"
                                style="cursor: pointer;">
                                <td>{{ paciente.numdocpac}}</td>
                                <td>{{ paciente.apepaternopac}} {{ paciente.apematernopac}} {{ paciente.nombrespac}}  </td>
                                <td>{{ paciente.edad}}</td>
                                <td>{{ paciente.glsexo}}</td>
                                <td></td>
                            </tr> 
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8" [totalItems]="pacientes_urgencia.length"
                                [itemsPerPage]=8 [previousText]="'Anterior'" [nextText]="'Siguiente'" [firstText]="'&laquo;'"
                                [lastText]="'&raquo;'" (pageChanged)="pageChangedUrgencia($event)">
                            </pagination>
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="form-group col-sm-6 align-self-end text-right">
                <button type="button" class="btn btn-primary btn-sm button-my-styles-busqueda_01 ml-1" tooltip="CERRAR"
                    (click)="onCerrarSalir()">CERRAR<i class="fas fa-window-close ml-1"></i>
                </button>
            </div>
        </div>
    </div>
    <swal #alertSwal title="" text="" type="success" [showCancelButton]="false" (confirm)="onCerrarSalir()"> </swal>
    <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <swal #alertSwalError title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
</div>