<app-navbar ></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper pl-2">
    <form [formGroup]="lForm">
        <!-- Contenedor general de la página -->

        <div class="my-2 ml-2 titulo text-center">
            <!--menu - productos -mantencion de articulos-->
            <h3>
                Mantención de Artículos
           </h3>
        </div>
        <!-- lineas de edición y bpusqueda -->
        <div class="card m-2 border-primary" style="padding: 10px;">

           <div class="form-row">

                <div for="codigo" class="form-group col-md-3">
                    <label class=" mr-2">Código *</label>
                    <input type="text" class="form-control form-control-sm" name="codigo" id="codigo"
                        formControlName="codigo" (focusout)="getProducto($event.target.value)">
                </div>

                <div for="descripcion" class="form-group col-md-6">
                    <label class=" mr-2">Descripción Artículo *</label>
                    <input type="text" class="form-control form-control-sm" name="descripcion" required
                        formControlName="descripcion" (input)="setDatabusqueda($event.target.value, 2)">
                </div>

                <div class="form-group col-md-3  align-self-end text-right">
                    <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                        (click)="BuscarProducto()">Buscar <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>


        </div>
        <!-- Fin lineas de edición y bpusqueda -->

        <!-- Datos de edición -->

        <!-- lineas de edición y bpusqueda -->



        <div class="card m-2 border-primary" style="padding: 10px; height: 500px;">

            <div class="form-row">

                <div class="form-group col-md-3">
                    <label for="estado">Estado  </label>
                    <select name="estado" class='form-control form-control-sm' 
                        formControlName='estado'>
                        <option value=0>Vigente </option>
                        <option value=1>No vigente </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="produc">Tipo de Producto </label>
                    <select name="idtiporegistro" class='form-control form-control-sm'
                        (change)="BuscaFamilia(lForm.value.tiporegistro)" formControlName='tiporegistro'>
                        <option *ngFor='let tipoderegistro of tiposderegistros'
                            [ngValue]='tipoderegistro.idtiporegistro'>
                            {{ tipoderegistro.desctiporegistro }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="cmbsolocompra">Solo Compras  </label>
                    <select name="solocompra" class='form-control form-control-sm' 
                        formControlName='solocompra'>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="recreten">Receta Retenida </label>
                    <select name="recetaretenida" class='form-control form-control-sm' 
                        formControlName='recetaretenida'>
                        <option value="S">Si</option>
                        <option value="N">No </option>
                    </select>
                </div>

            </div>

            <!-- ******-->

            <div class="form-row">


                <div class="form-group col-md-3">
                    <label for="familia">Familia </label>
                    <select name="familia" class='form-control form-control-sm' 
                        formControlName='familia'>
                        <option *ngFor='let familia of familias' [ngValue]='familia.idfamilia'>
                            {{ familia.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="subfamilia">Subfamilia </label>
                    <select name="subfamilia" class='form-control form-control-sm' 
                        formControlName='subfamilia'>
                        <option *ngFor='let subfamilia of subfamilias' [ngValue]='subfamilia.idsubfamilia'>
                            {{ subfamilia.descripcion }}
                        </option>
                    </select>
                </div>


                <div class="form-group col-md-3">
                    <label for="unidadcompra">Unidad de Compra </label>
                    <select name="unidadcompra" class='form-control form-control-sm' 
                        formControlName='unidadcompra'>
                        <option *ngFor='let unidadcompra of unidadescompra' [ngValue]='unidadcompra.idudecompra'>
                            {{ unidadcompra.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="unidaddespacho">Unidad Despacho </label>
                    <select name="unidaddespacho" class='form-control form-control-sm' 
                        formControlName='unidaddespacho'>
                        <option *ngFor='let unidaddespacho of unidadesdespacho' [ngValue]='unidaddespacho.idudespacho'>
                            {{ unidaddespacho.descripcion }}
                        </option>
                    </select>
                </div>

            </div>

            <!-- triada-->

            <div class="form-row">

                <div class="form-group col-md-3">
                    <label for="principio">Principio Activo  *</label>
                    <select name="idprincipio" class='form-control form-control-sm'
                        formControlName='codpact' >
                        <option *ngFor='let principio of PrincAct' [ngValue]='principio.idprinc'>
                            {{ principio.descriprinc }}
                        </option>
                    </select>
                </div>


                <div class="form-group col-md-3">
                    <label for="presentacion">Presentación  *</label>
                    <select name="idpresentacion" class='form-control form-control-sm' 
                        formControlName='codpres'>
                        <option *ngFor='let presentacion of Presenta' [ngValue]='presentacion.idprese'>
                            {{ presentacion.descriprese }}
                        </option>
                    </select>
                </div>


                <div class="form-group col-md-3">
                    <label for="forma">Forma Farmacéutica *</label>
                    <select name="idforma" class='form-control form-control-sm' formControlName='codffar'>
                        <option *ngFor='let formafarma of FormaFar' [ngValue]='formafarma.idforma'>
                            {{ formafarma.descriforma }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="controlado">Controlado *</label>
                    <select name="controlado" class='form-control form-control-sm' 
                        formControlName='controlado'>
                        <option value="S">Si</option>
                        <option value="N">No </option>
                    </select>
                </div>

            </div>

            <!-- ***Datos de costos y valores-->

            <div class="form-row">

                <div class="form-group col-md-3">
                    <label for="costo">Valor Costo </label>
                    <input type="number" class="input-sm ml-1 mr-1" formControlName="valorcosto">

                </div>

                <div class="form-group col-md-3">
                    <label for="margenmedicamento">Margen ( % ) </label>
                    <input type="number" class="input-sml mr-2" formControlName="margenmedicamento">

                </div>

                <div class="form-group col-md-3">
                    <label for="valorventa">Valor Venta </label>
                    <input type="number" class="input-sm mr-2 " formControlName="valorventa">
                </div>

            </div>
        </div>


    </form> <!-- Fin detalle -->


    <!--  Botones de página -->


    <div class="form-row float-right">

        <div class="form-group  align-self-end">
            <button type="button" id="btnmodificar" class="btn btn-primary mr-1 btn-sm button-my-styles-busqueda_01"
                *ngIf="modelopermisos.btnmodificarma" [disabled]="(lForm.controls.codigo.value === null ||
                lForm.controls.descripcion.value === null)?true:false" (click)="ConfirmarGuradadoArticulo(lForm.value,'MODIFICAR')">
                MODIFICAR <i class="fas fa-save ml-1"></i>
            </button>

        </div>

        <div class="form-group  align-self-end">
            <button type="button" id="btnlimpiar" class="btn btn-primary mr-1 btn-sm button-my-styles-busqueda_01"
                (click)="Limpiar(lForm.value)">LIMPIAR <i class="fas fa-eraser ml-1"></i>
            </button>
        </div>

        <div class="form-group  align-self-end">
            <button type="button" id="btnsalir" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_01"
                routerLink='../home'>SALIR <i class="fas fa-window-close ml-1"></i>
            </button>
        </div>
    </div>

    <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
    <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
</div> <!-- Fin contenedor de la página-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>