<app-navbar ></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper pl-2">
  <div style="margin: 10px;">
    <form [formGroup]="FormCreaSolicitud">
      <!-- Contenedor feneral de la página -->
      <div class="my-2 ml-2 titulo text-center">
        <!--menu -->
        <h3>
          Administrador Solicitudes de Consumo
        </h3>
      </div>
      <!-- lineas de edición y bpusqueda -->
      <div class="card border-primary" style="padding: 5px;">
        <div class="form-row mt-2">
          <div class="form-group col-md-2">
            <label for="numsolicitud">Número de Solicitud *</label>
            <input type="number" class="form-control form-control-sm" formControlName="numsolicitud">
          </div>
          <div class="form-group col-md-2"  >
            <label for="esticod">Estado Solicitud *</label>
            <select name="esticod" class='form-control form-control-sm' formControlName='esticod'  >
              <option *ngFor='let listaEstado of estadossolbods' [ngValue]='listaEstado.codestado' >
                {{ listaEstado.desestado }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="prioridad">Prioridad *</label>
            <select name="prioridad" class='form-control form-control-sm' formControlName='prioridad'>
              <option *ngFor="let prioridad of prioridades" [ngValue]="prioridad.codprioridad">
                {{ prioridad.desprioridad }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="fecha">Fecha *</label>
            <input appSelecttext type="text" placeholder="DD/MM/YYYY" id="fecha" class='form-control form-control-sm'
              [bsConfig]="bsConfig" bsDatepicker formControlName="fecha">
          </div>
          <div class="form-group col-md-3  align-self-end text-right">
            <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
              (click)="BuscarSolicitudesConsumo()">Buscar Solicitud <i class="fas fa-search ml-1"
                aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col-md-2">
            <label for="centrocosto">Centro de Costo Solicitante *</label>
            <select name="centrocosto" class='form-control form-control-sm' formControlName='centrocosto'>
              <option *ngFor='let listaCentoCostoSolictante of ccostosolicitante'
                [ngValue]='listaCentoCostoSolictante.unorcorrelativo'>
                {{ listaCentoCostoSolictante.descripcion }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="referenciaerp">ERP *</label>
            <input type="number" class="form-control form-control-sm" formControlName="referenciaerp">
          </div>
          <div class="form-group col-md-5">
            <label for="glosa">Glosa *</label>
            <input type="text" class="form-control form-control-sm" formControlName="glosa"   >
          </div>
          <div class="form-group col-md-3  align-self-end text-right">
            <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01" [disabled]="!ActivaBotonAgregar()"
              (click)="BuscarPlantillaSolicitudes()">Desde Plantillas <i class="fas fa-search ml-1"
                aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="card border-primary" style="padding: 5px;margin-top: 10px;height: 1200px;">
      <div id="table" class="table-editable">
        <a class="btn-floating btn-lg purple-gradient"></a>
        <button type="button" class="btn btn-info btn-rounded btn-sm ml-2" (click)="addArticuloGrilla()"   [disabled]="!ActivaBotonAgregar()">Agregar
          <i class="fas fa-plus ml-2" aria-hidden="true"></i>
        </button>
        <div id="table" class="table-editable table-responsive mt-2" style="height: 1100px;">
          <table class="table table-sm table-condensed table-bordered table-responsive-md table-striped text-center">
            <tr class="table table-sm  table-primary table-bordered ">
              <th class="text-center">Código</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Unidad</th>
              <th class="text-center">Solicitado*</th>
              <th class="text-center">Eliminar</th>
            </tr>
            <tr class="table-secondary"
              *ngFor="let registro of arregloDetalleProductoSolicitudPaginacion; let id = index">
              <td>
                <small><span>{{registro.codigoproducto}}</span></small>
              </td>
              <td class="text-nowrap help   " tooltip="{{registro.meindescri }}">
                <small><span> {{registro.glosaproducto| slice:0:20 }}</span></small>
              </td>
              <td class="text-nowrap help   " tooltip="{{registro.descunidadmedida }}">
                <small><span> {{registro.glosaunidadconsumo| slice:0:10 }}</span></small>
              </td>
              <td>
                <small>
                  <input type="number" class="form-control form-control-sm text-right" min="1" max="1000"
                    [(ngModel)]="registro.cantidadsolicitada"
                    (input)="cambio_cantidad(id, 'cantidadsolicitada',registro)"
                    (blur)="cambio_cantidad(id, 'cantidadsolicitada', $event)"
                    (blur)="validacantidadgrilla(registro)">
                </small>
              </td>
              <td>
                <small><span><button type="button" id="btnElinaRegistro" class="btn btn-info btn-rounded btn-sm ml-2"   [disabled]="!ActivarBotonModificar()"
                      (click)="ConfirmaEliminaProductoDeLaGrilla(registro,id)">Eliminar
                    </button></span>
                </small>
              </td>
            </tr>
          </table>
        </div>
        <div class="row m-1">
          <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8"
            [totalItems]="arregloDetalleProductoSolicitud.length" [itemsPerPage]=50 [previousText]="'Anterior'"
            [nextText]="'Siguiente'" [firstText]="'&laquo;'" [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>

    <!--  Botones de página -->
    <div class="row float-right mr-1 mt-2">
      <!--Al agregarle col-md-3 queda el espacio entre botones cuando aparece generar solicitud-->
    
      <div *ngIf="BtnSolConsumoGenerSolictud_activado" class="form-group  align-self-end" >
        <button  *ngIf="modelopermisos.btngrabasolicons"  type="button" id="BtnSolConsumoGenerSolictud"
          [disabled]="!ActivarBotonGuardar()" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
          (click)="ConfirmaGenerarSolicitud()">GENERAR SOLICITUD
          <i class="fas fa-save"></i>
        </button>
      </div>

      <div class="form-group  align-self-end" *ngIf="modelopermisos.btnmodifsoliccons">
        <button type="button" id="btnmodificar" [disabled]="!ActivarBotonModificar()"
          class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
          (click)="ConfirmaModificarSolicitud()">MODIFICAR SOLICITUD
          <i class="fas fa-save"></i>
        </button>
      </div>
      <!-- <div class="form-group  align-self-end" *ngIf="modelopermisos.btneliminasolicons>
        <button type="button" id="btnguardar" [disabled]="!existesolicitud"
          class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02" (click)="onImprimir()">IMPRIMIR SOLICITUD <i
            class="fas fa-file-pdf ml-1"></i>
        </button>
      </div> -->
      <div class="form-group  align-self-end" *ngIf="modelopermisos.btneliminasolicons">
        <button type="button" id="btneliminar"  [disabled]="!ActivarBotonModificar()"
          class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
          (click)="ConfirmaEliminarSolicitud()">ELIMINAR SOLICITUD <i class="fas fa-trash-alt"></i>
        </button>
      </div>
      <div class="form-group  align-self-end">
        <button type="button" id="btnlimpiar" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
          (click)="limpiar()">LIMPIAR <i class="fas fa-eraser ml-1"></i>
        </button>
      </div>
      <div class="form-group  align-self-end">
        <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
          routerLink='../home'>SALIR <i class="fas fa-window-close ml-1"></i>
        </button>
      </div>
    </div>
  </div>
  <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
  <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
  <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
</div>